.navbar-container {
  padding-top: 8px;
  display: flex;
  min-width: 100%;
  position: fixed;
  z-index: 5;
  background-color: var(--background-color);
  -webkit-transition: background-color 2s, color 2s ease-out;
  -moz-transition: background-color 2s, color 2s ease-out;
  -o-transition: background-color 2s, color 2s ease-out;
  transition: background-color 2s, color 2s ease-out;
}

.navbar-left {
  margin-left: 2%;
}

.navbar-link {
  padding: 15px;
  font-size: 13.5px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-link:hover {
  color: #21ce99;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-middle {
  width: 70%;
  display: flex;
}

.greeting-page-navbar-login {
  margin: auto;
  padding-right: 25px;
}

.greeting-page-navbar-signup {
  margin: auto;
  padding-left: 25px;
  padding-right: 10px;
}

.logo-image {
  width: 55px;
  height: 55px;
  margin-top: -5px;
}

.mrhood-button {
  text-decoration: none;
}
