.peers-ul {
  margin-top: 30px;
  /* font-weight: 500;
  display: flex;
  overflow: auto; */
  /* margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  margin-left: 0;
  margin-right: 50px; */
}

.peers-container {
  margin: 2%;
  padding: 2%;
  background-color: #1b1b1d;
  color: white;
  /* box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6); */
}

.top-stocks-container {
  font-weight: 500;
  display: flex;
  overflow: auto;
}

.peer, .topStock {
  background-color: rgb(33, 206, 153);
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 6%;
  padding-right: 6%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(33, 206, 153);
  width: 10%;
  display: inline-flex;
}

.peer:hover, .topStock:hover {
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  transition: box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: -moz-box-shadow .3s;
}

.peer a, .topStock a {
  text-align: center;
  color: white;
  text-decoration: none;
}

#peers-title, #news-title, #market-news-title, #top-stocks-title {
  font-size: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0e0d0d;
}

#news-title, #market-news-title {
  padding-bottom: 10px;
}

.article-source {
  font-size: 15px;
}

.article-title {
  color: rgb(33, 206, 153);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-title a {
  text-decoration: none;
}

.article-image {
  width: 196px;
  height: 134px;
}

.article-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-left: 10px;
}

.article-text, .stock-page {
  margin-left: 0;
}

.article-text-bottom {
  font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
  font-size: 16px;
  margin: 4px 0;
  /* max-height: 10.5ex; */
  /* overflow: scroll; */
}

.article-body {
  text-align: justify;
  font-size: 15px;
}

.news-container, .market-news-container {
  margin: 2%;
  padding: 2%;
  max-height: 450px;
  overflow: scroll;
  background-color: #1b1b1d;
  color: white;
  /* box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6); */
}

.article-container {
  padding: 10px;
  display: flex;
  margin-bottom: 25px;
}

.article-container:hover {
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  transition: box-shadow .3s;
}

.about-container {
  margin: 2%;
  padding: 2%;
  background-color: #1b1b1d;
  color: white;
}

#about-title {
  font-size: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0e0d0d;
}

#about-body {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 45px;
}

.stats-ul {
  display: flex;
  font-size: 13px;
  margin: 0 30px;
  flex-direction: column;
}

.stat-title {
  margin-bottom: 8px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-container {
  max-width: 126px;
  width: 20%;
}
