.peers-container, {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  margin-left: 0;
  margin-right: 50px;
}

.top-stocks-box {
  width: 1150px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  margin-left: 0;
  margin-right: 50px;
}

.peer, .topStock {
  background-color: rgb(33, 206, 153);
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 6%;
  padding-right: 3%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(33, 206, 153);
  width: 10%;
  display: inline-flex;
}

.peer:hover, .topStock:hover {
  box-shadow: 0px 0px 13px 3px grey;
}

.peer a, .topStock a {
  text-align: center;
  color: white;
  text-decoration: none;
}

#peers-title, #news-title, #market-news-title, #top-stocks-title {
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
}

#news-title, #market-news-title {
  padding-bottom: 10px;
}

.article-source {
  font-size: 15px;
}

.article-title {
  color: rgb(33, 206, 153);
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-title a {
  text-decoration: none;
}

.article-image {
  width: 196px;
  height: 134px;
}

.article-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-left: 10px;
}

.article-text-bottom {
  font-family: "DIN Pro", -apple-system, system-ui, sans-serif;
  font-size: 16px;
  margin: 4px 0;
  /* max-height: 10.5ex; */
  /* overflow: scroll; */
}

.article-body {
  text-align: justify;
  font-size: 15px;
}

.news-container, .market-news-container {
  margin-bottom: 50px;
  max-height: 450px;
  overflow: scroll;
}

.article-container {
  padding: 10px;
  display: flex;
  background-color: #f2f2f2;
  margin-bottom: 25px;
}

.article-container:hover {
  box-shadow: 0px 0px 13px 3px grey;
}
