.peersBox, {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  margin-left: 0;
  margin-right: 50px;
}

.top-stocks-box {
  width: 1150px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  margin-left: 0;
  margin-right: 50px;
}

.peer, .topStock {
  background-color: rgb(33, 206, 153);
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 6%;
  padding-right: 3%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(33, 206, 153);
  width: 10%;
  display: inline-flex;
}

.peer:hover, .topStock:hover {
  box-shadow: 0px 0px 13px 3px grey;
}

.peer a, .topStock a {
  text-align: center;
  color: white;
  text-decoration: none;
}

#peers-title, #news-title, #market-news-title, #top-stocks-title {
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
}

#news-title, #market-news-title {
  padding-bottom: 10px;
}

.article-title {
  color: rgb(33, 206, 153);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.article-title a {
  text-decoration: none;
}

.article-body {
  text-align: justify;
}

.news-box, .market-news-box {
  padding-bottom: 50px;
}

.article-box {
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 25px;
}

.article-box:hover {
  box-shadow: 0px 0px 13px 3px grey;
}
