/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


:root {
  --background-color: #1b1b1d;
  --color: white;
  --sidebar-hover: #161617;
  --shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  --border: 1px solid #0e0d0d;
  --row-hover: #161617;
  --trade-input: #171718;
  --trade-input-hover: 1px solid #8c8c87;
}

.app {
  min-height: 100vh;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: "DIN Pro", "DIN Web", sans-serif;
  min-height: 100vh;
  margin: 0px;
  min-width: 1036px;
  display: block;
}

.main-stock-section {
  display: flex;
  flex-direction: column;
  width: 65%
}

.main-container {
  padding-top: 83px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-title {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 25px;
  color: rgb(33, 206, 153);
}

.welcome {
  justify-content: space-between;
}
