.range-buttons {
  color: var(--color);
  background-color: inherit;
  border: none;
  padding-left: 0px;
  margin-right: 10px;
  font-size: 14px;
}

.range-buttons:hover {
  color: rgb(33, 106, 153);
  cursor: pointer;
}

.range-buttons:active {
  text-decoration: underline;
}

.recharts-wrapper {
  width: 100%;

}

.recharts-surface {
  width: 100%;
}

.percent-change {
  z-index: 4;
}

.stock-chart-price {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -.7px;
  line-height: 42px;
}

.stock-chart {
  margin: 2%;
  padding: 2%;
  border-bottom: var(--border);
  -webkit-transition: border-bottom 2s ease-out;
  -moz-transition: border-bottom 2s ease-out;
  -o-transition: border-bottom 2s ease-out;
  transition: border-bottom 2s ease-out;
}

.chart-header {
  margin-top: -2%;
}

.tags {
  display: flex;
}

.tag {
  color: var(--tag-text);
  background-color: var(--tag-background);
  font-size: 13px;
  margin: 0 20px 12px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 28px;
  overflow: hidden;
  padding: 0 14px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.company-name {
  font-size: 36px;
  max-width: 497px;
  letter-spacing: -.29px;
  line-height: 42px;
}
