.range-buttons {
  background-color: inherit;
  border: none;
  /* width: 50px; */
  color: white;
  padding-left: 0px;
  margin-right: 10px;
  font-size: 14px;
  /* font-weight: 400; */
}

.range-buttons:hover {
  color: rgb(33, 106, 153);
  cursor: pointer;
}

.range-buttons:active {
  text-decoration: underline;
}

.recharts-wrapper {
  width: 100%;

}

.recharts-surface {
  width: 100%;
}

.chart {
  /* margin-top: 60px; */
  /* padding: 20px; */
}

.percent-change {
  z-index: 4;
}


.stock-chart-price {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -.7px;
  line-height: 42px;
}

.stock-chart {
  margin: 2%;
  padding: 2%;
  background-color: #1b1b1d;
  color: white;
  border-bottom: 1px solid #0e0d0d
  /* box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6); */
}

.chart-header {
  margin-top: -2%;
}

.tags {
  display: flex;
  /* margin-right: 200px;
  justify-content: space-around; */
}

.tag {
  color: #21ce99;
  background-color: #182b27;
  font-size: 13px;
  margin: 0 20px 12px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 28px;
  overflow: hidden;
  padding: 0 14px;
}

.company-name {
  font-size: 36px;
  max-width: 497px;
  letter-spacing: -.29px;
  line-height: 42px;
}
