.dashboard-sidebar {
  height: 500px;
  overflow: scroll;
  color: white;
  width: 300px;
  margin: 4%;
  background-color: #1b1b1d;
  color: white;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.01), 0 3px 24px rgba(0,0,0,0.6);
}

.portfolio {
  padding: 5px;
}

.portfolio-header {
  padding: 15px;
  border-bottom: 1px solid #0e0d0d;
}

.portfolio-body {
  padding: 15px;
}

.portfolio-row {
  display: flex;
  margin-bottom: 25px;
  cursor: pointer;
}

.stock-symbol {
  margin-right: 15px;
}
