.stock-card {
  border: var(--border);
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow .3s;
  text-decoration: none;
  min-width: 235px;
  height: 190px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  -webkit-transition: border 2s ease-out;
  -moz-transition: border 2s ease-out;
  -o-transition: border 2s ease-out;
  transition: border 2s ease-out;
}

.stock-card:hover {
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  transition: box-shadow .3s;

}

.stock-card-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 52px;
}

.stock-card-name {
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 13px;
}

.stock-card-price {
  font-size: 20px;
  color: #21ce99;
}
