.dashboard-sidebar {
  height: 670px;
  overflow: scroll;
  width: 300px;
  margin: 4%;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -webkit-transition: box-shadow 2s ease-out;
  -moz-transition: box-shadow 2s ease-out;
  -o-transition: box-shadow 2s ease-out;
  transition: box-shadow 2s ease-out;
}

.portfolio {
  padding: 5px;
}

.holdings {
  font-size: 12px;
  font-weight: 100;
  width: 80px;
  margin-top: 7px;
}

.portfolio-header {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 15px;
  border-bottom: var(--border);
  border-top: none;
  -webkit-transition: border-bottom 2s ease-out;
  -moz-transition: border-bottom 2s ease-out;
  -o-transition: border-bottom 2s ease-out;
  transition: border-bottom 2s ease-out;
}

.portfolio-row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.portfolio-row:hover {
  background-color: var(--row-hover);
  transition: background-color .3s;
}
.portfolio-row {
  transition: background-color .3s;
}

.stock-symbol {
  font-size: 13px;
  width: 63px;
}

.stock-price {
  text-align: right;
  width: 65px;
  font-weight: 100;
  font-size: 14px;
}
