.side {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  position: fixed;
  margin-left: 50%;
  padding-left: 5%
}

.stock-sidebar {
  width: 300px;
  margin: 4%;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -webkit-transition: box-shadow 2s ease-out;
  -moz-transition: box-shadow 2s ease-out;
  -o-transition: box-shadow 2s ease-out;
  transition: box-shadow 2s ease-out;
}

.trade-buy-sell {
  padding-bottom: 25px;
}

#trade-button {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  font-weight: 600;
  font-size: 12px;
  border: none;
  background-color: #21ce99;
  color: var(--theme-color);
  transition: color 2s ease-out;
}

#trade-button:hover {
  cursor: pointer;
  background-color: #1ae9aa;
}

.trade-input {
  background-color: var(--trade-input);
  border: 1px solid var(--trade-input);
  color: #8c8c87;
  box-shadow: none;
  border-radius: 3px;
  width: 70px;
  height: 20px;
  padding: 7px;
  text-align: right;
  transition: border .3s;
  -webkit-transition: background-color 2s, border 2s ease-out;
  -moz-transition: background-color 2s, border 2s ease-out;
  -o-transition: background-color 2s, border 2s ease-out;
  transition: background-color 2s, border 2s ease-out;
}

.trade-input:hover {
  border: var(--trade-input-hover);
  transition: border .3s;
}

.trade-input:focus {
  border: 1px solid #21ce99;
  transition: border .3s;
}


#horizontal-breaker-trade {
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
  -webkit-transition: border-bottom 2s ease-out;
  -moz-transition: border-bottom 2s ease-out;
  -o-transition: border-bottom 2s ease-out;
  transition: border-bottom 2s ease-out;
}


.shares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.market-price {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  -webkit-transition: border-bottom 2s ease-out;
  -moz-transition: border-bottom 2s ease-out;
  -o-transition: border-bottom 2s ease-out;
  transition: border-bottom 2s ease-out;
}

#market-price {
  margin-right: 10px;
}

.estimated {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#estimated {
  margin-right: 10px;
}

.submit-trade {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.message {
  border-top: var(--border);
  margin-right: -24px;
  margin-left: -24px;
  display: flex;
  justify-content: center;
  padding: 20px;
  -webkit-transition: border-top 2s ease-out;
  -moz-transition: border-top 2s ease-out;
  -o-transition: border-top 2s ease-out;
  transition: border-top 2s ease-out;
}

.active {
  color: #21ce99;
  transition: color .3s;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 15px;
}

.tabs {
  height: inherit;
}

.tab-headers {
  border-bottom: var(--border);
  padding: 20px 24px 15px 24px;
  -webkit-transition: border-bottom 2s ease-out;
  -moz-transition: border-bottom 2s ease-out;
  -o-transition: border-bottom 2s ease-out;
  transition: border-bottom 2s ease-out;
}

.tab-content {
  padding: 0 24px;
  font-size: 13px;
}

#trade-buy-sell {
  cursor: pointer;
  transition: color .3s;
}

#trade-buy-sell:hover {
  color: #21ce99;
  transition: color .3s;
}
