.watchlist-button {
  margin: 0 24px;
  text-align: center;
  border: 1px solid #21ce99;
  border-radius: 5px;
  padding: 15px;
  color: #21ce99;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.watchlist-button:hover {
  border-color: #1ae9aa;
  color: #1ae9aa;
}

.watchlist-button-wrapper {
  width: 300px;
  margin: 4%;
}
